* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    animation: 20s b_gradient infinite;
    overflow-x: hidden;
    padding-bottom: 30px;
}
header {
    background-color:rgb(0, 132, 255);
    color: rgba(255, 255, 255, 0.932);
    padding: 10px;
}

@keyframes b_gradient {
    0% {
        background-color: rgb(0, 238, 255);
    }
    40% {
        background-color: rgb(180, 255, 106);
    }
    60% {
        background-color: rgb(243, 156, 255);
    }
    100% {
        background-color: rgb(0, 238, 255);
    }
}
div{
    width: 100vw;
    justify-items: center;
}
ul {
    list-style: circle;
    margin-left: 30px;
}


#piatti {
    border-radius: 20px;
    padding: 20px;
    width: 90vw;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}
.card {
    border: 1px solid #000;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

.cont_img {
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    max-width: 150px;
    max-height: 150px;
    transition: .5s ease-in-out;
}
.card:hover img {
    scale: 1.2;
    transition: .2s ease-in;
}
.cont_img:hover img {
    transition: .2s ease-in-out;
}

img {
    position: relative;
    left: -30px;
    height: 150px;
    transition: .5s ease-in-out;
}