*{ padding: 0; margin: 0; scroll-behavior: smooth;}

body{
    background-color: black;
}


section{
    height: 100vh;
    
}
    #main{
        width: 100%;
        height: 100vh;

        background-image: url(assets/Gelati-alla-frutta.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1.0;

        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }

        #main div{

            color: rgb(255, 255, 255);
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            text-shadow: 2px 2px 10px #000000;
        }

        nav{ margin: 10px; background-color: #00000063;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            width: 100vw;
            height: 100px;
            box-shadow: 2px 2px 20px #000000;

        }
        nav ul li, a{ display: inline; margin-left: 10px; margin-right: 10px;
            text-decoration: none;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-shadow: 2px 2px 20px #ffffff;

        }
    
    #gusti{
        padding-top: 100px;
        height: 400px;
        background-color: #00e1ff67;
    }
        #gusti h1{

            font-size: 30px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }

        .menugusti ol{ width: 100%; height: 10%; font-size: 30px; text-align: center; margin-top: 10px; }
        #gusti ol li{
            display: inline;
            margin: 0 10px 0 10px;
        }

.contatti{
    margin-top: 30px;
}

article {
    width: 100%;
    height: 100%;
}

footer{
    background-color: white;
}
footer h1{
    font-size: 20px;
}
